/* -------- MOBILE DEVICES VERSION -------- */
/* ---- Categories page ---- */
button {
	width: 100%;
	height: 100%;
	/* justify-content: center;
     align-items: center; */
	border: none;
	border-radius: 0;
	background-color: var(--accent-light-shade);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
	color: var(--secondary);
	cursor: pointer;
}
button:hover {
	color: var(--primary);
	background-color: var(--secondary);
	border-color: var(--accent);
}

.title {
	margin-bottom: 2rem;
	text-align: center;
}

.categories-container {
	display: grid;
	margin: 0 auto;
	grid-template-rows: 4rem;
	grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
	grid-row: auto;
	gap: 1rem;
	justify-content: center;
	grid-auto-rows: 4rem;
}

/* ---- Product's list page ---- */

section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
	gap: 2rem;
}
article {
	position: relative;
	background-color: var(--primary);
	border-radius: none;
	display: grid;
	grid-template-rows: subgrid;
	grid-row: span 5;
	gap: 1rem;
	margin: 0 0 5px 0;
	text-align: left;
}
article > img {
	margin: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
/*  Skal finde en måde at sette "SOLD OUT" teksten over billedet */
.sold-out {
	position: absolute;
	top: 0%;
	left: 0%;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	color: var(--primary);
	background-color: var(--accent);
	padding: 1rem 1.5rem;
}
.soldOut > img {
	opacity: 0.3;
}

.p-categories {
	font-weight: 500;
	color: var(--accent-light-shade);
	display: flex;
	align-items: center;
}
.price {
	font-size: 14px;
	font-weight: 600;
}

/* Skal finde en måde at giv den samme størrelse til "Price" font. */
.discount {
	color: var(--alert);
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.discount-percent {
	background-color: var(--alert);
	color: var(--primary);
	text-shadow: var(--accent);
	padding: 0 10px 0 10px;
}
.separator {
	margin: 0 10px;
}
a.product {
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: var(--secondary);
}

/* ---- Single Product page ---- */

section.single-product-container {
	height: 100;
	display: flex;
	flex-direction: row;
	flex-wrap: initial;
	/* flex-wrap: wrap; */
	justify-content: center;
	align-items: center;
	grid-gap: 0 2rem;
	background-color: var(--primary);
	border-radius: none;
	text-align: left;
}
article .product-img,
article .product-info,
article .choice-box {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: flex-start;
	min-height: 200px;
	flex-shrink: inherit;
}
.choice-box {
	background-color: var(--accent);
	color: var(--primary);
	/* position: ; */
	/* padding: 0 2rem 0 2rem; */
}

/* article {
	position: relative;
	background-color: var(--primary);
	border-radius: none;
	display: grid;
	grid-template-rows: subgrid;
	grid-row: span 5;
	gap: 1rem;
	margin: 0 0 5px 0;
	text-align: left;
}

.product-img {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
} */
.model-name {
	margin: 0;
	padding: 0;
}
/* section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 2rem;
	border-color: red;
} */

/* -------- MOBILE LANDSCAPE AND TABLET DEVICES -------- */

@media screen and (min-width: 480px) {
	/* ---- Categories buttons ---- */
	.title {
		text-align: left;
	}

	.model-name {
		margin: 2rem 0;
	}
}

/* -------- TABLET LANDSCAPE AND LAPTOP DEVICES -------- */

@media screen and (min-width: 768px) {
	/* ---- Categories buttons ---- */
	.title {
		text-align: left;
		font-size: 3rem;
	}
	.model-name {
		margin: 3rem 0;
	}
}

/* -------- DESKTOP DEVICES -------- */

@media screen and (min-width: 1024px) {
	/* ---- Categories buttons ---- */
	.title {
		text-align: left;
		font-size: 5rem;
	}

	/* section.single-product-container {
		display: flex;
		flex-template-columns: repeat(3, 1fr);
		grid-gap: 0 2rem;

		background-color: var(--primary);
		border-radius: none;

		margin: 0 0 3rem 0;
		text-align: left;
	} */
	.model-name {
		margin: 3rem 0;
	}
}
